<form class="post">
  <div class="">
    <label class="comment-text" for="comment">Delete Post</label>
    <button class="comment-button" type="submit">Are you sure?</button>
    <p> </p>
    <button class="comment-button" type="submit">Cancel</button>
  </div>
</form>