
<div class="container">
  <form class="post-form post">
    <h5 class="title">Create New Post</h5>
    <div>
      <label for="title">Title</label>
      <input class="new-post-title" type="text" id="title" />
    </div>
    <div>
      <label for="content">Content</label>
      <textarea class="new-post-textarea" name="text" id="content" cols="80" rows="2">{{text}}</textarea>
    </div>
    <div>
      <button class="new-post-button" type="submit">Create</button>
    </div>
  </form>
</div>

<div>
  <button class="new-post" type="submit">New Post</button>
</div>
<script src="/javascript/post.js"></script>
