<div class="container">
<form class="login-form post">
  <h5 class="title row">Login</h5>
  <div class="row">
    <label class="login-label" for="username-login">Username</label>
    <input class="login-text" type="text" id="username-login" />
  </div>
  <div class="row">
    <label class="login-label" for="password-login">Password</label>
    <input class="login-text" type="password" id="password-login" />
  </div>
  <div>
    <button class="login-button row" type="submit">Login</button>
  </div>
  <a class="login-switch" href="/signup">Sign Up instead</a>
</form>
</div>
<script src="/javascript/login.js"></script>