<div class="container">
<form class="signup-form post">
  <h5 class="title row">Sign Up</h5>
  <div class="row">
    <label class="login-label" for="username-signup">Username</label>
    <input class="login-text" type="text" id="username-signup" />
  </div>
  <div class="row">
    <label class="login-label" for="password-signup">Password</label>
    <input class="login-text" type="password" id="password-signup" />
  </div>
  <div>
    <button class="login-button row" type="submit">Sign Up</button>
  </div>
  <a class="login-switch" href="/login">Login instead</a>
</form>
</div>

<script src="/javascript/signup.js"></script>