
<article class="post">
  <div class="title">
    <p>{{post.title}}
    <span>Posted by {{post.user.username}} on
        {{format_date post.created_at}}</span>
    </p>
  </div>
  <div>
    <textarea class="post-textarea" name="text" id="text" cols="80" rows="2">{{post.text}}</textarea>
  </div>

  <div class="container">
  <div class="row post-options">
    <button id="edit-post" class="btn-no-style col-md-3 post-option-css">Edit Post</button>
    <button id="delete-post" class="btn-no-style col-md-3 post-option-css">Delete Post</button>
    <button id="add-comment" class="btn-no-style col-md-3 post-option-css">Add Comment</button>
  </div>
</div>
</article>

{{> edit-post post}}